.circle {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

.circle1 {
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 50%;
}

.circle2 {
    margin-top: -20px;
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50%;
}

.circle3 {
    margin-top: -80px;
    margin-left: 120px;
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
}

.circle4 {
    margin-top: -20px;
    margin-left: 60px;
    width: 80px;
    height: 80px;
    background-color: purple;
    border-radius: 50%;
}

.snap {
    border-radius: 50%;
    width: 200px;
    height: 100px;
}