.card_move {
    border: 1px solid black;
    width: 1100px;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.sidebar_move {
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: row;
}